# Ignore log files
logs/
*.log

# Ignore compiled Python files
__pycache__/
*.pyc

# Plots
/electrodes-mesh/
/reconstructions/
/residuals/

# Tool configurations and caches
.ruff_cache/
ruff.toml
ty.toml
pyproject.toml
.mypy_cache/
.pytest_cache/
tox.ini
setup.cfg
.flake8
.pylintrc

# Makefiles
Makefile
*.mk
